body {
  background-color: whitesmoke;
}
a{
  color: #4e7074;
  color: #a63a50;
}
aside {
  /* background: url(bg.png);*/
  /*ruda*/
  /*background-color: #c0a868;*/
  /*background-color: #e0995e;*/
  /*background-color: #e0e0d1;*/
  /*background-color: #4e5d74;*/
  background-color: #4e7074;
  background-image: url("../diagmonds.png");
  /*background-image: url("https://www.transparenttextures.com/patterns/shattered.png");*/
  color: white;
}
aside .logo {
  padding: 4rem 1rem 2rem;
}
aside .logo .slogan {
  padding-top: 0.25rem;
  font-size: 0.875rem;
  color: white;
}
aside hr {
  margin: 0.5rem auto;
  width:75%;
}
aside .menu {
  padding-top: 2rem;
  padding-left: 0.875rem;
}
aside .menu-list a {
  border-radius: 0;
  color: #fff;
  display: block;
  padding: 0.5em 0.75em;
}
aside .menu-list a:hover {
  /*background-color: whitesmoke;*/
  background: none;
  color: #9e9885;
}
aside .menu-list a.is-active {
  background: none;
  background: url(../menu-right.png) no-repeat left center;
  padding-left: 24px;
  /*margin-left: -12px;*/
  /*color: #9e9885;*/
  color: #fff;
}
/*aside .menu-list a.is-active::before{
content: url(menu-right.png);
background: url(menu-right.png) no-repeat;
height: 100%;
width: 100%;
}*/
aside .menu-label {
  color: white;
  padding-left: 0.25rem;
}

main {
  background-color: white;
}
main .content{
  /*padding: 4rem 3rem;*/
  font-size: 1.125em;
}
main .meh{
  margin-top: 5rem;
  margin: 5rem 0 4rem;
}
footer {
  /*background-color: none;*/
}

@media screen and (max-width: 1023px) {
  aside .logo {
    padding: 0;
    margin-top: 0.5rem;
  }
  aside .logo img{
    height: 3.25rem;
  }
  aside .burger{
    margin-top: 0.5rem;
  }
  main .meh{
    margin: 2rem 0;
  }
}
.front {
  background-color: #4e7074;
  background-image: url("../diagmonds.png");
}
.front body {
  background-color: transparent;
}
.front .logo {
  color: #fff;
  padding-bottom: 1.75rem;
}
.front .logo img {
  height: 80px;
}
.front .box {
  border-radius: 0;
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: right 1.25rem center;
  box-shadow: none;
}
.front .box:hover {
  background-color: #e0e0d1;
  cursor: pointer;
  box-shadow: none;
}
.front a {
  outline: 0;
}
.front .footer {
  background: none;
  color: #fff;
}
.front .projects-bg {
  background-image: url('../icons/analytics.svg');
}
.front .wheat-bg {
	background-image: url('../icons/ear-of-wheat.svg');
	background-position: right -1rem center;
}
.front .plan-bg {
  background-image: url('../icons/plan-idea.svg');
  background-position: right 1.5rem center;
}
.front .startup-bg {
  background-image: url('../icons/startup.svg');
}
.front .team-bg {
  background-image: url('../icons/users.svg');
}
.front .contacts-bg {
  background-image: url('../icons/mail.svg');
  background-size: auto 75%;
}
.front .finance-bg {
  background-image: url('../icons/directions.svg');
}
.front .faq-bg {
  background-image: url('../icons/info.svg');
  background-size: auto 66%;
  background-position: right 1.25rem bottom 1.25rem;
}
